/*

 Style from secdump.io (c) Vesselin Tzvetkov <vesselin@secdump.io>

*/


.highlight
    color: #222222
    background: #272822
    .code
        .tag,
        .keyword,
        .selector-tag,
        .literal,
        .strong,
        .name
            color: #323232

        .code
            color: #66d9ef

        .class .title
            color: #552222

        .attribute,
        .symbol,
        .regexp,
        .link
            color: #5f191b

        .string,
        .bullet,
        .subst,
        .title,
        .section,
        .emphasis,
        .type,
        .built_in,
        .builtin-name,
        .selector-attr,
        .selector-pseudo,
        .addition,
        .variable,
        .template-tag,
        .template-variable
            color: #0016e2

        .comment,
        .quote,
        .deletion,
        .meta
            color: #75715e

        .keyword,
        .selector-tag,
        .literal,
        .doctag,
        .title,
        .section,
        .type,
        .selector-id
            font-weight: bold
