// Fonts
//$font-family-body = "Menlo", "Meslo LG", monospace
//$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-family-body = "Menlo",  monospace
$font-family-mono = "Menlo",  monospace
$font-size = 14px
$line-height = 1.725

// Colors
$color-background =  #181818 //  #ffffff //   #1d1f21
$color-link = rgba(212, 028, 070, 1) // vimeo: :selection with alpha=1
$color-text = #b9babc
$color-light = #cccccc
$color-lightest = #dedede
$color-accent = #5bac4a
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"

// Solar images
$sun_image =  hexo-config("root") + hexo-config("solar.sun_image") 
$earth_image =  hexo-config("root") +hexo-config("solar.earth_image") 
$jupiter_image =  hexo-config("root") +hexo-config("solar.jupiter_image") 
$mars_image =  hexo-config("root") +hexo-config("solar.mars_image") 
$mercury_image =  hexo-config("root") +hexo-config("solar.mercury_image") 
$venus_image =  hexo-config("root") +hexo-config("solar.venus_image") 
$shadow_image =  hexo-config("root") +hexo-config("solar.shadow_image") 
$solar_speed = hexo-config("solar.speed")
