<div class="banner"><%= config.title %>
<ul class="wrapper">
  <div class="sun">
    <div class="star"></div>
  </div>
  <div class="mercury">
    <div class="planet">
      <div class="shadow"></div>
    </div>
  </div>
  <div class="venus">
    <div class="planet">
      <div class="shadow"></div>
    </div>
  </div>
  <div class="earth">
    <div class="planet"><div class="shadow"></div></div>
  </div>
  <div class="mars">
    <div class="planet"><div class="shadow"></div></div>
  </div>
  <div class="jupiter">
    <div class="planet"><div class="shadow"></div></div>
  </div>
</ul>
<script>

function scrollBanner() {
   
    var z = document.getElementsByClassName("banner")[0].getBoundingClientRect().bottom / (
       document.getElementsByClassName("banner")[0].getBoundingClientRect().bottom-document.getElementsByClassName("banner")[0].getBoundingClientRect().top)
    
    if (z<0) {
      z = 0.01
    }

    document.getElementsByClassName("wrapper")[0].style.zoom  =  z
    document.getElementsByClassName("wrapper")[0].style.MozTransform = "scale("+z+")"
    
}

window.onscroll = function() {scrollBanner()};

</script>
</div>